# .replit
run = "python main.py"

[env]
PORT = "8080"

[packager]
language = "python3"

[modules]
python3 = "main"

[deployment]
run = ["python", "main.py"]

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80
